.idea/
.DS_Store
Thumbs.db

*.log
pnpm-debug.log*
npm-debug.log*

**/node_modules/
**/dist/
**/coverage/

**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

**/src/generated/prisma/
.vercel
.env*
.superpowers/
